/*Navbar classes 

*/
.fa-bars {
    content: "/f0c9";
}
header {
    color: white;
}
.nev-left {
    flex-direction: row;
}
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-left{
    width: 50%;
    color: white;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    text-align: start;
    font-family: Rajdhani;
}

.dis1 {
    font-size: 2.0em;
}
.dis2 {
    font-size: 1em;
}
.burger{
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    span{
        margin:-6px;
    }
}

.close{
    opacity: 0;
}
.font-color {
    color: #03e3fc;
}
.bg-color {
    background-color: #353a3b;
}
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.brgr1{
    display: none;
}
body,*{
    max-width:100%;
}
.nvli{
    position: relative;
    top: 3px;
    list-style-type: none;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    li{
        margin:0px 5px;
        font-family: Rajdhani;
        font-size: 16px;
    }
    a{
        text-decoration: none;
        color: white;
    }
}
html {
    scroll-behavior: smooth;
  }
//Media Query



  @media only screen and (max-width:769px) {
    .nav-right{
        position:absolute;
        top: 0px;
        left: 0;
        width: 100vw;
        height: 100vw;
        margin:0px;
        background-color: #353a3b;
    }
 .nvli{
    position: relative;
    margin: 0;
    padding: 0;
    flex-direction:column;
    user-select: none;
    li{
    margin: 3px 0px;
    transition: all .5s ease-in-out;
    }
    li:hover{
      transform:rotate(5deg) translate(5px);
      transition: all .5s ease-in-out;
     font-weight: 300;
    }
 }

 .nav-left{
    width: 100%;
}
.close{
    opacity: 1;
}
.brgr1{
  display: block;
}
  }