*,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
ul,a,li{
    padding: 0;
    margin: 0;
}
.tdnandc{
    color: white;
    text-decoration: none;
    transition: .5s;
    margin: 0px 10px;
}
.tdnandc:hover{
    color: wheat;
    transition: .5s;
}
.navfont{
    font-family: Rajdhani;
}
.bold{
    font-weight: bold;
}
.nonli{
    list-style-type: none;
}
.nav-ul{
    flex-direction: row;
}
.display-6 {
    font-size: calc(1.375rem + 0.5vw);
    font-weight: 370;
    line-height: 1;
  }
.close{
    display: none;
}

.flex-r{
    flex-direction: row;
}

.point{
    cursor: pointer;
}
.header{
    height:65px;
    transition:all .5s ease-in-out;
}
#burger{
    display: none;
 }

  // Media Query 

  /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 768px) {
    .w-50{
        width: 100% !important;
    }
    .flex-r{
       flex-direction: column;
    }
    .justify-content-end{
        border-top: 1px solid rgba(255, 255, 255, 0.125);
        margin: 20px 0px;
        justify-content: center !important;
        padding: 70px 0px !important;
    }
    .closefortab{
        display:none;
    }
    .hide-and-show{
        height: 120px!important;
        transition:all .5s ease-in-out;
    }
    #burger{
        display: block;
     }
 }

/* Small devices (portrait tablets and large phones, 600px and up) */
//  @media only screen and (min-width: 600px) {
     
    
//  }

/* Medium devices (landscape tablets, 768px and up) */
//  @media only screen and (min-width: 768px) { }

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .closefortab{
        display:none;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {...}