*,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}
html{
    scroll-behavior: smooth;
}
ul,a,li{
    padding: 0;
    margin: 0;
}
.tdnandc{
    color: white;
    text-decoration: none;
    transition: .5s;
    margin: 0px 10px;
}
.tdnandc:hover{
    color: wheat;
    transition: .5s;
}

#burger svg:hover{
    path{
        fill:white;
        transition: all .5s;
    }
}
#burger svg{
    path{
        fill:rgb(153, 153, 153);
        transition: all .5s;
    }
}
.navfont{
    font-family: Rajdhani;
}
.bold{
    font-weight: bold;
}
.nonli{
    list-style-type: none;
    overflow: hidden;
}
.nav-ul{
    flex-direction: row;
    overflow: hidden;
}
.display-6 {
    font-size: calc(1.375rem + 0.5vw);
    font-weight: 370;
    line-height: 1;
  }
.close{
    display: none;
}

.flex-r{
    flex-direction: row;
}

.point{
    cursor: pointer;
}

.header{
    height:65px;
    overflow: hidden;
    transition:all .2s ease;
}

#burger{
    display: none;
 }
.high{
    height: 40vh;
    width: 100vw;
}

.aic{
    align-items: center;
}
.ant{
    font-family: anton;
}

.f-18{
    font-size: 18px;
}
.trans{
    position: absolute;
    top: 0;
    opacity: .1;
}

.card-main{
    margin: 10px;
    position: relative;
    padding: 10px;
    transition: all .5s ease-in-out;
    border-radius: 10px;
    max-width: 150px;
    max-height: 100px;
    min-width: 150px;
    min-height: 100px;
    background:linear-gradient(rgb(247, 247, 146),rgb(115, 115, 115));
}

.hiden{ 
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.429);
  transition: all .7s ease-in-out;
  width: 0%;
  height: 0%;
  z-index: 1000;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}


.card-main:hover .hiden{
box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.75);
transition: all .5s ease-in-out;
width: 100%;
height: 100%;
border-radius: 10px;
opacity: 1;
}


.graph{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.graph-card{
    border-radius:5px 5px 5px 5px;
    max-width: 5%;
    max-height: 60%;
    margin-left: 3px;
}
svg{
    margin-right: 10px;
    border-radius: 10px 10px 10px 10px;
    // transform-origin: bottom;
 
}
.a
{
    animation: ani 1s ease-in-out alternate-reverse infinite;
    
}
.b
{
    animation: ani 1.1s ease-in-out alternate-reverse infinite;
}
.c
{
    animation: ani 1.3s ease-in-out alternate-reverse infinite;
}
.d
{
    animation: ani 1.4s ease-in-out alternate-reverse infinite;
} 
 .e
{
    animation: ani 1.5s ease-in-out alternate-reverse infinite;
}
.f{
    animation: ani 1.6s ease-in-out alternate-reverse infinite;
} 
.g{
    animation: ani 1.6s ease-in-out alternate-reverse infinite;
}
@keyframes ani {
from{
transform: scaleY(.3);
}
to{
transform: scaleY(1);
}
}


#cookies.cookiesHead {
    display: none;
     /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.72); /* Black w/ opacity */
  }

  .cookies-modal{
    min-height: 100px;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    background-color: rgba(217, 217, 217, 0.991);
  }
  .close1{
    float:right;
    padding: 5px 20px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid black;
    transition: all .5s ease;
  }
  .close1:focus,
  .close1:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(19, 19, 19);
    border-radius: 4px;
    transition: all .5s ease;
  }

  .btn-accept,.btn-rejected{
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
    transition: all .5s ease;
  }
  .btn-rejected:hover{
    background-color: rgba(0, 0, 0, 0.681) !important;
    color: white;
    transition: all .5s ease;
  }
  .btn-accept:hover{
    background-color: rgba(0, 0, 0, 0.681) !important;
    color: white;
    transition: all .5s ease;
  }























  // Media Query 

  /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 768px) {
    .w-50{
        width: 100% !important;
    }
    .flex-r{
       flex-direction: column;
    }
    .justify-content-end{
        border-top: 1px solid rgba(255, 255, 255, 0.125);
        margin: 20px 0px;
        justify-content: center !important;
        padding: 70px 0px !important;
    }
    .closefortab{
        display:none;
    }
    .hide-and-show{
        height: 120px!important;
        transition:all .5s ease-in-out;
    }
    #burger{
        display: block;
     }
     body{
        background-color: green;
     }
 }

/* Small devices (portrait tablets and large phones, 600px and up) */
//  @media only screen and (min-width: 600px) {
     
    
//  }

/* Medium devices (landscape tablets, 768px and up) */
//  @media only screen and (min-width: 768px) { }

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .closefortab{
        display:none;
    }
    body{
        background-color: rgb(39, 39, 39);
     }
   
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
    body{
        background-color:yellow;
     }
}
@media only screen and (max-width: 1600px) {
   .section1{
    background-image: url("../Images/markus-spiske-FXFz-sW0uwo-unsplash.jpg");
    background-size: cover;
   }
   
}